Output
.cache
.vs
.vscode
compile_commands.json
*.opensdf
*.sdf
*.suo
*.user
*.ipch
*.log
*.db
*.bin
*.spv
**/build*
!build.py
CMakeSettings.json
venv
.ninja_log

# splat related
slus_008.54*
!slus_008.54.yaml
asm
undefined_funcs_auto.txt
undefined_syms_auto.txt
